<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">  
        <meta name="viewport" content="width=device-width, initial-scale=1.0">  
        <title>Artists</title> 
        <link rel="stylesheet" href="/static/style.css">  
    </head>
    
<body>
    <h1>Artists</h1>
    <ul class="artist-list">
        <!-- {{}} place holder from template package && range => ranging over the the slice of artists which is <.> in each artist we will bring name + image  -->
        <!-- when we clicked on the link a > req sent to server with root /details/1.... -->
        {{range .}} 
        <li class="artist-item">
            <a href="/details/{{.ID}}" class="artist-link">
                <h2>{{.Name}}</h2>
                <img src="{{.Image}}" alt="image of artist">
            </a>            
        </li>
        {{end}}
    </ul>
</body>
</html>
